h1 {
    font-size: 3em;
    text-align: center;
}
.box-direction {
    display: flex;
    flex-direction: row;
}
.box-style {
    width: 300px;
    height: 300px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 1.4em;
    text-align: center;
    font-family: tahoma, sans-serif;
    font-weight: 900;
}
.box-DarkGoldenRod {
    background-color: salmon;
}
.box-CadetBlue {
    background-color: Crimson;
}
.box-CornflowerBlue {
    background-color: Pink;
}
.box-direction {
    display: flex;
    flex-direction: row;
}
.box-147-112-219 {
    background-color: rgb(255, 99, 71)
}
.box-50-205-50 {
    background-color: rgb(148, 0, 211);
}
.box-0-255-255 {
    background-color: rgba(127, 255, 0);
}
.box-direction {
    display: flex;
    flex-direction: row;
}
.box-87CEFA {
    background-color: #00FFFF;
}
.box-FAEBD7 {
    background-color: #6495ED;
}
.box-FFD700 {
    background-color: #D2691E;
}
