h1 {
    font-size: 3em;
    color: brown;
    font-family: 'waltograph', sans-serif;
}
h2 {
    font-size: 2em;
    color: aqua;
    font-family: 'waltograph', sans-serif;
}
/* bebas-neue-regular*/
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'waltograph';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/waltograph42.otf'); /* IE9 Compat Modes */
    src: url('../fonts/waltographUI.ttf'), /* IE6-IE8 */
}