* {
    background-color: rgb(101, 199, 238);
    color: rgb(15, 15, 15)
 }
ul {
    color: rgb(27, 27, 27);
}
h1 {
    text-align: center;
    font-size: 5em;
    color: rgba(12, 12, 12, 0.832);
}
h2 {
    text-align: center;
    font-size: 2em;
    color: rgba(17, 17, 17, 0.832);
}
h3 {
    text-align: center;
    font-size: 2em;
    color: rgba(15, 15, 15, 0.832);
}
h4 {
    text-align: center;
    font-size: 2em;
    color: rgba(14, 13, 13, 0.832);
}
a {
    color: rgb(15, 15, 15);
}