.table-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
table {
    border-collapse: collapse;
    font-family: sans-serif;
}
th, td {
    border: 1px solid rgb(64, 64, 64);
    padding: 15px;
    text-align: center;
}
.check-style {
    color: rgb(50, 224, 79);
}
.error-style {
    color: rgb(235, 34, 34);
}
.th-gold {
    background-color: goldenrod;
    color: white;
}
.basic {
    background-color: rgb(15, 190, 190);
    color: white;
}